
.login {
    height: 300px;
    position: absolute;
    left: 10px;
    right: 10px;
    top: 0;
    margin: 80px auto;
    font-size: 0.865em;
    max-width: 500px;
}

.login form {
    border-radius: 0 0 10px 10px;
    box-shadow: 0 10px 10px -10px #666;
}

.login header {
    border-radius: 10px 10px 0 0;
    box-sizing: border-box;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 24px;
    line-height: 52px;
    padding: 0px 20px;
    background: darkcyan;
}