
.login {
    height: 300px;
    position: absolute;
    left: 10px;
    right: 10px;
    top: 0;
    margin: 80px auto;
    font-size: 0.865em;
    max-width: 500px;
}
.login header {
    border-radius: 10px 10px 0 0;
    box-sizing: border-box;
    line-height: 52px;
    padding: 0px 20px;
    background: darkcyan;
}

.login .login-header {
    padding-left: 10px;
    padding-right: 10px;
}

.login .login-header .msg {
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
}

.login .login-header .lan {
    float: right;
    font-size: 14px;
}

.login form {
    padding:20px;
    border:1px solid lightgray;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 10px 10px -10px #666;
}

.login .login-body {
    background: #FFFFFF;
    padding-bottom: 30px;
    border-radius: 0 0 10px 10px;
    padding-top: 10px;;
}

.login .login-body .footer-btn {
    text-align: center;
    color: white;
    background: #A1D030;
    border: 1px solid #A1D030;
    font: 16px BlinkMacSystemFont;
    width: 100%;
}

.white {
    color: white;
}

.red {
    color: red;
}