<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="home.css">
    <script src="node_modules/angular/angular.js"></script>
    <script src="loginController.js"></script>
</head>
<body>
<div class="login" ng-app="loginModule" ng-controller="loginCtrl">
    <header>
        <p>Login</p>
    </header>
    <form>
		<p style="color: red" class="hint-msg">{{result}}</p>
        Username
        <input type="text" ng-model="username"/><br>
        Password
        <input type="password" ng-model="password"/><br>
        Location
        <select ng-model="selection">
            <option value="1">Select Location</option>
            <option value="2">Registraction Desk</option>
            <option value="3">OPD-1</option>
            <option value="4">General Ward</option>
            <option value="5">Labour Ward</option>
        </select><br>
        <button ng-click="loginHandler()">Login</button>
    </form>
</div>
</body>
</html>